body,
.main {
  background-color: rgb(248, 243, 243) !important;
  color: rgb(0, 0, 0);
  margin-top: 40px;
  margin-left: 40px;
}

.main section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.main ul {
  width: 200px;
  font-size: 20px;
  list-style-type: none;

  background-color: #f3f3f3;
  padding: 0px;
}

.main li a {
  text-decoration: none;
  color: black;
  width: 100%;
  display: block;
  padding: 5px;
}

.main li a:hover {
  background-color: #ffc107;
}

.activeNavItem {
  background-color: #ffc107;
}

.right_content {
  padding-left: 6rem !important;
}
