<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info" internalLogFile=".\nlog-windSharing-WebApi.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
	<add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <targets>
	<!--
    <target name="database"
            xsi:type="Database"
            dbProvider="Npgsql.NpgsqlConnection, Npgsql"
			connectionString="${configsetting:name=ConnectionStrings.SqlDb}">

      <commandText>
		  insert into public."Log" (
		  "Application", "Logged", "Level", "Message",
		  "Logger", "Callsite", "Exception", "Username", "ClientIp"
		  ) values (
		  @application, CAST(@logged AS timestamp), @level, @message,
		  @logger, @callsite, @exception, @username, @client_ip
		  );
	  </commandText>
      <parameter name="@application" layout="WebApi" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callsite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@username" layout="${aspnet-user-claim:ClaimTypes.Name}" />
      <parameter name="@client_ip" layout="${aspnet-request-ip}" />
    </target>

    <target xsi:type="Mail"
            name="mail"
            enableSsl="false"
            smtpPort="25"
            deliveryMethod="Network"
            smtpServer="mail.ru"
            smtpAuthentication="Basic"
            from="admin@.ru &lt;WindSharing&gt;"
            to="a.vorontsov@.ru"
            encoding="utf-8"
            subject="WindSharing log">
    </target>
    -->
    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target
        xsi:type="ElasticSearch"
        uri="${configsetting:name=ElasticSearchConnection.Url}"
        index="logstash-windSharing-${environment:ASPNETCORE_ENVIRONMENT}-${date:format=yyyy.MM}"
        disablePing="true"
		documentType=""
        includeAllProperties ="true" 
    >
        <field name="application" layout="WindSharing" />
        <field name="logged" layout="${date}" />
        <field name="level" layout="${level}" />
        <field name="message" layout="${message}" />
        <field name="logger" layout="${logger}" />
        <field name="callsite" layout="${callsite:filename=true}" />
        <field name="exception" layout="${exception:tostring}" />
        <field name="username" layout="${aspnet-user-claim:ClaimTypes.Name}" />
        <field name="client_ip" layout="${aspnet-request-ip}" /> />
	  </target>
    </target>
  </targets>

  <rules>
	  <!--Skip Microsoft logs - no writeTo attribute-->
	  <logger name="Microsoft.*" maxlevel="Info" final="true" />
	  <!--
	  <logger name="*" minlevel="Debug" writeTo="database" />
	  <logger name="*" minlevel="Error" writeTo="mail" />-->
	  
	  <logger name="*" minlevel="Debug" writeTo="elastic" />
  </rules>
</nlog>
